<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/src/App.css">
</head>
<body>
    <!-- Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ut, et suscipit recusandae in laboriosam error earum quod eum numquam quisquam adipisci autem doloribus saepe odit nesciunt debitis. Numquam sed facilis obcaecati illo vero aliquid id dolores, nobis accusamus blanditiis ab cum eum asperiores ipsa minus. Accusantium exercitationem, quasi omnis quae laudantium natus sapiente qui. Magni, corporis repudiandae ipsa ea possimus vero optio velit, maiores quisquam dolorem laboriosam, totam perferendis distinctio! -->
</body>
</html>