*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
/* .App{
    /* background: #5085e7; */
    /* background: #070722; */
    /* background: #252588; */
    /* background: #8787ea; */
    /* background: #08081c; */
    /* background: #1a187cb4; */
    /* } */
body{
    /* background: #1a187c; */
    /* background: #0c0c34; */
    /* background:#8aadd3; */
    /* background:#b8d9fc; */
    /* background:#071019; */
    background:#2463f5;
    /* '#57346A' */
    /* background: linear-gradient(top to bottom,#0c0c34, #1a187c); */
}